NEXT_PUBLIC_SUPABASE_URL=https://jxhkpcosatclldefoigm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4aGtwY29zYXRjbGxkZWZvaWdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4ODE1MTgsImV4cCI6MjEwNTQ1NzUxOH0.mUTAeXvfi-0QCttmchreYaSYGfNPFcrd2zIexWeW97Y